body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", Poppins;
  color: #444444;
}

.bg-home {
  /* font-family: "poppins", Helvetica; */
  font-family: "Poppins", Poppins;
  background-image: url(../images/bg-login.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: grid;
  align-items: center;
  overflow: hidden;
}

/* @media (min-width: 1024px) {
  #bg-home {
    background-attachment: fixed;
    background-color: white;
    display: none;
  }
}

@media (max-width: 992px) {
  #bg-home {
    background-attachment: fixed;
    background-color: white;
    display: none;
  }
} */

a {
  color: #009cea;
}

a:hover {
  color: #1eb4ff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Poppins", Poppins;
}

.bni-logo {
  width: 30%;
}

.btn2 {
  display: inline-block;
  font-weight: 500;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1.5px solid transparent;
  padding: 1rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  width: 40%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn2 {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00529c;
  border: 1px solid transparent;
  /* padding: 0.375rem 0.75rem; */
  padding: 1.8rem 0.75rem;
  font-size: 1rem;
  line-height: 0.1;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn2 {
    transition: none;
  }
}

.btn2:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn2:focus,
.btn2.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn2.disabled,
.btn2:disabled {
  opacity: 0.35;
  /* opacity: 0.65; */
}

.btn2:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn2.disabled,
fieldset:disabled a.btn2 {
  pointer-events: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
#sidebar-menu ul li a:hover {
  background-color: #eff2f7;
  border-radius: 4px;
}